In [11]:
import pandas as pd

In [41]:
p_2000 = pd.read_excel("../00_source_data/texas_population_2000_2009.xls")
p_2010 = pd.read_excel("../00_source_data/texas_population_2010_2019.xlsx")

In [20]:
p_2000.head()

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,.Anderson County,55062,54263,54740,56068,56245,56873,57386,57870,57963,58410
1,.Andrews County,12949,12856,13022,12976,13006,13016,13195,13513,14099,14601
2,.Angelina County,80270,80273,80803,81510,82070,82553,83810,84518,84961,86029
3,.Aransas County,22452,22287,22616,22843,23067,23561,23395,23172,23225,23291
4,.Archer County,8966,8849,8942,9013,9078,9068,9063,9026,9104,9023

In [21]:
p_2010.head()

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,".Anderson County, Texas",58493,58394,58059,57960,57829,57639,57526,58175,57974,57735
1,".Andrews County, Texas",14849,15386,16105,16779,17435,18072,17791,17603,18011,18705
2,".Angelina County, Texas",86905,87297,87509,87312,87567,87829,87682,87572,86810,86715
3,".Aransas County, Texas",23181,23216,23459,23889,24566,24800,25162,25392,23446,23510
4,".Archer County, Texas",9118,8840,8816,8801,8844,8763,8781,8783,8700,8553

In [16]:
## Data validity check
def validity_check(df):
    for column in df.columns:
        assert not df[column].isnull().any()

In [18]:
validity_check(p_2000)
validity_check(p_2010)

In [42]:
## Merger two dataset and get one intermediate file
## I decide to use Couty as the primary key, but a little bit modification need to be applied
p_2010["County"] = p_2010["County"].str.split(", ").str[0]
p_2010.head()

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,.Anderson County,58493,58394,58059,57960,57829,57639,57526,58175,57974,57735
1,.Andrews County,14849,15386,16105,16779,17435,18072,17791,17603,18011,18705
2,.Angelina County,86905,87297,87509,87312,87567,87829,87682,87572,86810,86715
3,.Aransas County,23181,23216,23459,23889,24566,24800,25162,25392,23446,23510
4,.Archer County,9118,8840,8816,8801,8844,8763,8781,8783,8700,8553

In [53]:
TX_population = p_2000.merge(p_2010, validate="1:1", indicator=True)
assert TX_population[TX_population["_merge"] != "both"].empty
TX_population["County"] = TX_population["County"].str[1:]
TX_population.columns = TX_population.columns.astype(str)
TX_population.head()

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,_merge
0,Anderson County,55062,54263,54740,56068,56245,56873,57386,57870,57963,...,58394,58059,57960,57829,57639,57526,58175,57974,57735,both
1,Andrews County,12949,12856,13022,12976,13006,13016,13195,13513,14099,...,15386,16105,16779,17435,18072,17791,17603,18011,18705,both
2,Angelina County,80270,80273,80803,81510,82070,82553,83810,84518,84961,...,87297,87509,87312,87567,87829,87682,87572,86810,86715,both
3,Aransas County,22452,22287,22616,22843,23067,23561,23395,23172,23225,...,23216,23459,23889,24566,24800,25162,25392,23446,23510,both
4,Archer County,8966,8849,8942,9013,9078,9068,9063,9026,9104,...,8840,8816,8801,8844,8763,8781,8783,8700,8553,both

In [55]:
# TX_population.to_parquet("../20_intermediate_files/Population, 2000-2019, Texas.gzip", compression="gzip")
TX_population.to_csv("../20_intermediate_files/Population, 2000-2019, Texas.csv")