In [3]:
import pandas as pd

In [1]:
states = ["AZ", "CO", "FL", "LA"]
def read_all_files():
    data_list = []
    for state in states:
        df_temp = pd.read_csv(f"/Users/weilianghu/Downloads/pds2021-opioids-team-8-1/20_intermediate_files/Opioid_{state}.csv")
        data_list.append(df_temp)
    return pd.concat(data_list)

In [4]:
df = read_all_files()
df.sample(10)

     Unnamed: 0 BUYER_STATE         BUYER_COUNTY  YEAR           MME
175         175          CO               ELBERT  2011  5.982770e+09
448         448          LA        SAINT TAMMANY  2009  3.748696e+12
462         462          LA  ST JOHN THE BAPTIST  2014  6.636787e+10
481         481          FL               PUTNAM  2013  3.768968e+11
554         554          LA       WEST FELICIANA  2007  1.056982e+09
563         563          FL                UNION  2014  5.123209e+09
520         520          CO                 YUMA  2009  1.897220e+09
341         341          LA        POINTE COUPEE  2010  1.270365e+10
244         244          LA             LA SALLE  2012  2.111316e+10
455         455          FL                PASCO  2014  9.353779e+12

In [5]:
df.to_csv("Opioid_Final.csv")
df.to_parquet("Opioid_Final.gzip", compression="gzip")