In [1]:
import pandas as pd

In [5]:
#Concatenate the four datasets that we need 
states = ["AZ", "WA", "CO", "FL", "LA" , "OK"]
def read_all_files():
    data_list = []
    for state in states:
        df_temp = pd.read_csv(f"/Users/weilianghu/Downloads/pds2021-opioids-team-8-1/20_intermediate_files/Opioid_{state}.csv")
        data_list.append(df_temp)
    return pd.concat(data_list)

In [6]:
df = read_all_files()
df.sample(10)

      Unnamed: 0 BUYER_STATE   BUYER_COUNTY  MONTH  YEAR   MME_monthly
5473        5473          CO       SEDGWICK      5  2006  9.508566e+05
32            32          OK          ADAIR      9  2008  1.590787e+08
3318        3318          LA     LIVINGSTON     11  2009  1.371250e+10
1216        1216          OK        CHOCTAW      7  2008  9.265201e+07
4932        4932          FL     OKEECHOBEE      8  2006  8.402084e+08
2967        2967          WA       SAN JUAN      6  2010  6.094263e+07
4715        4715          LA  SAINT CHARLES      5  2009  8.176649e+08
1380        1380          CO        CROWLEY      9  2013  6.002066e+06
5255        5255          CO          ROUTT     10  2008  1.614198e+08
172          172          FL          BAKER      5  2011  9.019797e+08

In [7]:
df.to_csv("Opioid_Final.csv")
df.to_parquet("Opioid_Final.gzip", compression="gzip")